body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #353745;
    color: #FFC25C;
}
h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-weight: 900;
}

.row {
    margin-top: 60px;
    margin-left: 125px;
    margin-right: 125px;
    display: flex;
    justify-content: space-between;
}

button {
    display: block;
    border: none;
    background: transparent;
}

.header {

}

.logo {
}

.Search {
}

.Menu {
}

.con-title {
    font-size: 60px;
    margin-bottom: 0;
}

.con-text {
    font-size: 18px;
}
.button_btn {
    background: #FDAE27;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 17px 30px;
    display: inline;
    border-radius: 2px;
    letter-spacing: 0.3mm;
    margin-top: 10px;
}

.image {
    background: url("img/Group 1.png") no-repeat;
    width: 300px;
    height: 440px;
    right: 0;
    padding: 170px;
    margin-top: -70px
}

.problems {
    padding: 137px;
}

.digital-text {
    font-size: 40px;
    margin-bottom: 0;
}




