body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #353745;
}

.row {
    margin-top: 60px;
    margin-left: 125px;
    margin-right: 125px;
    display: flex;
    justify-content: space-between;
}

button {
    display: block;
}

.header {

}

.logo {
}

.Search {
    background: transparent;
    border: none;

}

.Menu {
    background: transparent;
    border: none;
}

